[submodule "acani-sinatra"]
	path = acani-sinatra
	url = https://github.com/acani/acani-sinatra.git
[submodule "acani-node"]
	path = acani-node
	url = https://github.com/acani/acani-node.git
[submodule "acani-iphone"]
	path = acani-iphone
	url = https://github.com/acani/acani-iphone.git
[submodule "acani-www"]
	path = acani-www
	url = https://github.com/acani/acani-www.git
